#topo {
  text-align: center; /* centralizar foto e nome */
}
#topo, #barra {
 background-color: rgb(70, 130, 180);
}
#picPrinc {
  width: 250px;
}
#barra #listBar {
  display: flex; /* ajudar na centralização */
  justify-content: center; /* ajudar na centralização */
  padding: 10px; /* grossura da barra de nav */
}
#barra #listBar .itemListBar {
 display: inline-block; /* deixar o nav em linha */
 padding: 3px;  /* espaçamento dos itens te lista */
}
#barra #listBar .itemListBar a { 
  font-size: 1.1em;  /* tamanho da fonte */
  color: rgb(0, 0, 0);
}
#barra #listBar .itemListBar a:hover { 
  background-color: rgb(100, 200, 200);
  padding: 10px; /* grossura do link da barra de nav */
}
main {
  text-align: center; /* centralizar texto */
}
#mainIndex {
  text-align: center; /* centralizar texto */
}
#mainCont {
  text-align: center; /* centralizar texto */
}
#mainForm {
  display: flex;
  justify-content: center;
}
.formacao .itemForm {
  justify-content: center; /* ajudar na centralização */ 
  text-align: center; /* centralizar foto e nome */
}
#mainExp {
  display: flex;
  justify-content: center;
}
.experiencia {
  justify-content: center; /* ajudar na centralização */ 
  text-align: center; /* centralizar foto e nome */
}
footer {
 background-color: rgb(70, 130, 180);
 text-align: center;
}