.topo, .barra {
 background-color: steelblue;
}
.barra ul {
  display: flex;
  justify-content: center;
}
.barra ul li {
 display: inline-block;
 justify-content: center;
 padding-right: 50px;
}
.redes ul li {
  display: flex;
  justify-content: center;
}
.nav {
  color: black;
}
.barra ul li a { 
  font-size: 1.1em; 
  color: rgb(0, 0, 0); 
}