.topo {
  text-align: center; /* centralizar foto e nome */
}
.topo, .barra {
 background-color: rgb(70, 130, 180);
}
.barra ul {
  display: flex; /* ajudar na centralização */
  justify-content: center; /* ajudar na centralização */
  padding: 10px; /* grossura da barra de nav */
}
.barra ul li {
 display: inline-block; /* deixar o nav em linha */
 padding: 4px;  /* espaçamento dos itens te lista */
}
.barra ul li a { 
  font-size: 1.1em;  /* tamanho da fonte */
  color: rgb(0, 0, 0);
}
.barra ul li a:hover { 
  background-color: rgb(100, 200, 200);
  padding: 10px; /* grossura do link da barra de nav */  
}
main {
  text-align: center; /* centralizar texto */
}
footer {
 background-color: rgb(70, 130, 180);
 text-align: center;
}